<title>Login page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="container-fluid bg-light text-dark align-self-center">
  <div class="h-100 d-flex justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="text-center">
        <h1>Remove the blocks</h1>
        <h3>Login page</h3>
      </div>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" class="form-control" id="login" name="login" placeholder="Login" value="<%- locals.login || '' %>" required>
          <% if (locals.userError) { %>
            <div class="alert alert-warning p-1 mt-2">
              <%= locals.userError %>
            </div>
            <% } %>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          <% if (locals.passwordError) { %>
            <div class="alert alert-warning p-1 mt-2">
              <%= locals.passwordError %>
            </div>
            <% } %>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-6 text-center">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
          <div class="col-6 text-center">
            <a href="/register">
              <h5>Register</h5>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>